<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h3>{{ phrase }}</h3>
    <p>use "<b>/play</b>" to render three beautiful looking blue boxes</p>
    <p>use "<b>/play/(int here)</b>" to display the beautiful looking blue boxes x times</p>
    <p>use "<b>/play/(int here)/(color)</b>" to display beautiful looking boxes x times, but this time where the boxes appear in (color)</p>
</body>
</html>