<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/Scripts/script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <h2>{{phrase}}</h2>

    <table class="container">
        {% for i in range(0, 8) %} <!-- CREATES THE COLUMN LENGTH *HOW MANY ROWS WE"LL HAVE-->
        <tr>
            {% if i%2 == 0 %}
                {% for j in range(0, 8) %}  <!-- CREATES THE ROW LENGTH *HOW MANY INSTANCES WE"LL HAVE-->
                    {% if j%2 == 0 %}
                        <td class="square first">1SF</td>
                    {% else %}
                        <td class="square second">1SS</td>
                    {% endif %}
                {% endfor %}

            {% else %}
                {% for j in range(0, 8) %}
                    {% if j%2 == 0 %}
                        <td class="square second">1SF</td>
                    {% else %}
                        <td class="square first">1SS</td>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>