<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <title>show</title>
</head>
<body class="container p-3 my-3 bg-dark text-white">
    <h2>User {{user.id}}</h2>
    <a class="btn btn-info" href="/">Home</a>

    <div>
        <p>First Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.create_at.strftime("%b %d %Y")}}</p>
        <p>Last Updated On: {{user.update_at.strftime("%b %d %Y at %I:%M %p")}}</p>
    </div>

    <a href="/edit_one/{{user.id}}">edit</a> | <a href="/delete_user/{{user.id}}">delete</a>
</body>
</html>