<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <title>selected_dojo</title>
</head>
<body class="container">
    <h2>{{dojo.name}} Dojo</h2>

    <!-- Has a table that will show dojo.name and its ninjas  -->
    <table class="table .table-striped">
        <thead>
            <th>First</th>
            <th>Last</th>
            <th>Age</th>
        </thead>

        <tbody>
            
            {% for ninja in dojo.students %}
            <tr>
                <td>{{ ninja.first_name }}</td>
                <td>{{ ninja.last_name }}</td>
                <td>{{ ninja.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a class="btn btn-primary" href="/">Home</a>
</body>
</html>